---
import ThemeToggle from "../common/ThemeToggle.astro";
import Search from "./Search";
import { getSearchData } from "../../utils/searchData";
import { SiGithub } from 'react-icons/si';

const searchData = await getSearchData();
---

<header class="sticky top-0 z-30">
  <nav
    class="navbar min-h-0 bg-base-100/80 backdrop-blur-3xl justify-center items-center py-2 px-4 sm:px-6 md:px-20 border-b border-primary"
  >
    <div class="navbar-start">
      <label for="my-drawer-2" class="btn btn-square btn-ghost text-base px-3 py-3 h-12 lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block w-6 h-6 stroke-current"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
      <Search client:load searchData={searchData} />
    </div>

    <div class="navbar-end">
      <a
        class="btn btn-ghost btn-square text-base px-3 py-3 h-12 border-0 shadow-none outline-none hover:bg-primary/10"
        href="https://github.com/yowainwright/prisma-migrations"
        aria-label="github"
      >
        <SiGithub className="h-6 w-6" client:load />
      </a>
    </div>
  </nav>
</header>
